@import "tailwindcss";

@theme {
  --color-madre-red: #b91c1c;
  --color-madre-green: #15803d;
  --color-madre-yellow: #f59e0b;
}

/* Reset Global e Cursor Pointer */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CUSTOM SHADOWS */
.shadow-enterprise {
  box-shadow: 0 10px 40px -10px rgba(0,0,0,0.05), 0 2px 10px -2px rgba(0,0,0,0.02);
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #fcfaf7;
  color: #1f2937;
}

/* Regra de Ouro: Tudo que for clicável ganha a mãozinha */
button, 
select, 
input[type="submit"],
.clickable {
  cursor: pointer;
}

/* Garante que botões desativados não mostrem a mãozinha */
button:disabled {
  cursor: not-allowed;
}

/* Scrollbar fina e elegante para não poluir o visual fino */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}

/* ESTILOS DE IMPRESSÃO */
@media print {
  body * {
    visibility: hidden;
  }
  #print-ticket, #print-ticket * {
    visibility: visible;
  }
  #print-ticket {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm; /* Largura padrão de impressora térmica */
    margin: 0;
    padding: 10px;
    background-color: white;
    color: black;
  }
  @page {
    margin: 0;
    size: auto;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
